<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Rest API Automation Test Suite" parallel="false">
	<test name="GUI Test Cases" preserve-order="true" thread-count="1">
		<classes>
			<class name="com.crm.qa.testcases.LoginPageTest"></class>
			<class name="com.crm.qa.testcases.HomePageTest"></class>
			<!-- <class name="com.crm.qa.testcases.ContactsPageTest"></class> -->
		</classes>
	</test>
</suite>